// Styling for the download section
.download {
    position: relative;
    padding: 150px 0;

    &__info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &__heading {
        font-size: 48px;
        margin-top: 0;

    }

    .device-container {
        max-width: 200px;
        margin: 0 auto;
        .screen img {
            border-radius: 3px;
        }
    }
    &__device {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        & > img {
            width: 100%;
        }
    }
    &__badges {
        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
}
