// Styling for the masthead
.masthead {
    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: white;
    background: url('../img/bg.jpg'), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    background-size: cover;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__img-right {
        display: none;
        @media (min-width: 992px) {
            position: absolute;
            display: block;
            top: 0;
            left: 45%;
            right: 0;
            bottom: 0;
        }
    }

    .header-content {
        max-width: 500px;
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }

    .subheading {
        font-size: 28px;
        font-weight: 400;
    }


    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
    }
}
